*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff9ecf,#ffc0cb,#ffe4ec);
    overflow:hidden;
}

.card{
    width:90%;
    max-width:380px;
    padding:30px;
    text-align:center;
    background:rgba(255,255,255,0.25);
    backdrop-filter:blur(15px);
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}

h1{
    color:#ff006e;
    margin-bottom:20px;
}

.line1,.line2{
    color:#573030;
    font-size:18px;
    margin:15px 0;
    line-height:1.6;
}

#playBtn{
    margin-top:20px;
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#ff4d88;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

#playBtn:hover{
    background:#ff0066;
    transform:scale(1.08);
}

#surprise{
    opacity:0;
    transform:translateY(20px);
    transition:all 1.5s ease;
    color:#7A0055;
    font-size:18px;
    font-weight:bold;
    margin-top:20px;
}

#surprise.show{
    opacity:1;
    transform:translateY(0);
}